
/* h1 at the top */
#top {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    position: relative;
    background-image: url("images/image_1.jpeg");
    padding: 0px 30px;
}

.brushes #brush{
    font-family: Helvetica;
    font-size: 32;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

span{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.frames #frame{
    font-family: Helvetica;
    font-size: 32;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paints #paint{
    font-family: Helvetica;
    font-size: 32;
    font-weight: bold;
    color: white;
    background-color: skyblue;    
}
